/* Google Font - Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
}

p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    max-width: 180px;
    cursor: pointer;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 10%);
    padding: 40px 0px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav h2{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 800;
}

.nav > nav > ul{
    display: flex;
    gap: 80px;
}

.nav > nav > ul > li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;

}

.nav > nav > ul > li > a {
    text-decoration: none;
    color: #424242;
}


.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.banner-content h1{
    color: #131313;
    font-size: 4rem;
    font-weight: 800;
}

.banner-content p{
    margin: 25px 0px;
}

.banner-image{
    margin-top: 50px;
}

.banner-image img{
    width: 100%;
}


/* main > teams styles */
.team-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.team-contents{
    max-width: 537px;
}

.team-contents h2{
    word-spacing: 8px;
}

.team-contents h2 .span-one{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.team-contents h2 .span-two{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 800;
}

.team-contents h2 .span-three{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 800;
}

.team-contents p{
    margin: 25px 0px;
}
/* teams styles end */


/* ******************* */
/* Features and Experiences styles */
.features-experiences{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.feature-contents{
    max-width: 586px;
    margin-top: 80px;
}

.feature-contents h2{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.feature-contents p{
    margin: 20px 0px;
}

.feature-contents .feature{
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 18px 38px;
    margin-top: 25px;
    border-radius: 7px;
}

.feature-contents .feature h3{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.feature-contents .feature p{
    margin: 0px;
    margin-top: 15px;
}

.feature-image{
    max-width: 800px;
}

.feature-image img{
    width: 100%;
}

.experience-badge{
    background-color: #FF900E;
    max-width: 342px;
    text-align: center;
    border-radius: 7px;
    padding: 40px 0px;
    transform: translate(-70px, -120px)
}

.experience-badge h2{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
}

.experience-badge p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 7px;
}

/* ****************** */


/* facts styles started */
.facts{
    margin: 50px auto;
}

.facts h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.facts p{
    margin-top: 15px;
    max-width: 542px;
}

.facts-container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 35px 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.fact-card img{
    margin-bottom: 6px;
}

.fact-card h2{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.fact-card p{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
}

/* Our sponsors styles started */
.our-sponsors{
    margin-bottom: 80px;
}

.sponsors-content{
    text-align: center;
    margin-bottom: 20px;
}

.sponsors-content h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.sponsors-content p{
    max-width: 542px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

.sponsors-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}